.card{
  margin-top: 100px;
  padding: 20px;
  background-color: black;
  border-radius: 1px;
  opacity: 0.6;
}
.cardHomeRight{

  /* background-image: url(https://pbs.twimg.com/media/EtSqDxgVoAASi0f.jpg); */
  background-size: 645px 610px;
  height: 100%;
  border-radius: 1px;
  margin: 50px;
  overflow: auto;
}
.cardHero{
  height: 700px;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}
.imghero{
  height: 200px;
  width: 200px;
  
}
.smallPic{
  height: 50px;
  width: 50px;
  text-align: left;
  text-decoration:none
}
.smallCardHero{
  background: rgba(255, 255, 255, 0.144);
  padding: 1px;
  margin: 20px;
  text-decoration:none
}
.textNameSmall{
  padding:9px;
  margin: 1;
  text-decoration:none
}
.smallCardHero:hover{
  cursor: pointer;
}

.tierCreateCard{
  padding:15px;
  height: 200px;
  margin: 5px;
  background: rgba(248, 248, 248, 0.295);
}
.texttierCard{
  text-align: center;
  vertical-align:middle;
  padding-top: 70px;
  height: 200px;
  margin: 5px;
}
.textLaneCard{
  text-align: center;
  vertical-align:middle;
  height: 100px;
  margin: 5px;
}
.tierSelectPic{
  height: 50px;
  width: 50px;
  text-decoration:none;
  margin: 5px;
}
.tierSelectPic:hover{
  background-color: aqua;
  cursor: pointer;
  border-radius: 10px;
}
.imgMini{
  height: 30px;
  width: 30px;
  margin: 1px;
}